@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="file"/>
                <input type="submit"/>
            </form>
        </div>
    </body>
</html>