@using System.Web.UI.WebControls
@using LComplete.Framework.Data
@using LComplete.Framework.Web.Extensions
@using LComplete.Framework.Web.Mvc

@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>@ViewBag.Username</h2>

@Html.ShowNotice()

@ViewBag.CurrentTime

@Html.NumericPager(new PagingModel(2,10,2000))