<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--多个接受者用;隔开-->
    <add key="mailReceiver" value="" />
  </appSettings>

  <!--<system.net>
    <mailSettings>
      <smtp from="{email}">
        <network host="{host}" password="{password}" userName="{username}" port="25" />
      </smtp>
    </mailSettings>
  </system.net>-->
</configuration>