<?xml version="1.0" encoding="utf-8" ?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 				version="2.0">
  <!--cron表达式介绍 http://www.cnblogs.com/shanyou/archive/2007/08/25/869073.html -->

  <!-- http://my.oschina.net/u/559428/blog/59066 -->

  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>

  <schedule>

    <job>
      <name>test</name>
      <group>group</group>
      <description>描述</description>
      <job-type>LComplete.Framework.JobService.TestJob, LComplete.Framework.JobService</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>test</name>
        <group>group</group>
        <description>描述</description>
        <job-name>test</job-name>
        <job-group>group</job-group>
        <job-data-map>
          <entry>
            <key>immediately</key>
            <value>1</value>
          </entry>
        </job-data-map>
        <cron-expression>0 0 0/1 * * ?</cron-expression>
      </cron>
    </trigger>

  </schedule>

</job-scheduling-data>

