<?xml version="1.0"?>
<CacheSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Pools>
    <PoolConfig>
      <Name>default</Name>
      <Weight>1</Weight>
      <Hosts>localhost:6379</Hosts>
    </PoolConfig>
  </Pools>
  <CacheProvider>LComplete.Framework.Redis.HybridRedisCache,LComplete.Framework.Redis</CacheProvider>
  <CachePrefix>cache:</CachePrefix>
</CacheSetting>